.nav {
    &-root {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
        width: 95%;
        height: 5rem;
        border-radius: 0.8rem;
        position: fixed;
        top: 1%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 999;
        
    }
    &-logo {
        &-link{
            color: #222;
            font-size: 2rem;
            cursor: pointer;
            text-decoration: none;
        }
    }
    &-links {
        text-decoration: none;
        color: #222;
        font-size: 2 rem;
        font-weight: 600;
        padding: 0.7rem 1rem;
        white-space: nowrap;
        &:hover {
            background-color: #01959a;
            color: #fff;
            border-radius: 0.25rem;
            transition: all 0.2s ease-in-out;
        }
    }
    &-i {
        padding-right: 0.45rem;
        font-size: 1.4rem;
        margin-top: 10px;
        
    }
    &-links-mobile {
        display: none;
    }
    &-menu-mobile {
        display: none;
    }
}
#nav{
    &-menu {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-gap: 0.5rem;
        list-style: none;
        align-items: center;
    }
}

button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: #151516;
        color: #fff;
    }
}

@media (max-width: 850px)  {
    .nav{
        &-root{
            z-index: 99;
        }
        &-links{
            padding: 2rem 0rem;
            width: 100%;
            display: block;
            font-size: 1.2rem;
            &:hover{
                background-color: #01959a;
                color: #fff;
                transition: none;
            }
        }
        &-menu-mobile {
            display: block;
        }
    }
    #nav{
        &-menu{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color:#fff;
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: -100%;
            opacity: 0;
            align-items: stretch;
            padding: 80px 0 30px 0;
            text-align: center; //này ở giữa
            transition: all 0.5s ease;
            border-radius: 0.8rem;
        }
        &-menu.active{
            left: 0;
            opacity: 1;
            z-index: -1;
            transition: all 0.5s ease;
        }
    }
    button{
        display: none;
    }
    .nav{
        &-links-mobile{
            display: block;
            font-size: 1.2rem;
            padding: 1.5rem;
            width: 100%;
            border-radius: 4px;
            width: 80%;
            background-color: #01959a;
            color: #fff;
            text-align: center;
            margin: auto;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 2px; //độ giãn chữ
        }
        &-menu-mobile{
            cursor: pointer; //hiển thị con trỏ chuột
        }
    }

}